# AWS region for IoT and DynamoDB
AWS_REGION=us-east-1

# AWS temporary credentials from learner lab session
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=YOUR_SESSION_TOKEN

# AWS IoT Core settings
# Leave AWS_IOT_ENDPOINT blank to resolve it automatically from AWS credentials
AWS_IOT_ENDPOINT=YOUR_AWS_IOT_ENDPOINT
AWS_IOT_TOPIC=elevator/sensors
AWS_IOT_CLIENT_ID=ElevatorMonitorClient
AWS_USE_MQTT=true

# DynamoDB settings
DYNAMODB_TABLE=ElevatorSensorDataNew
